.common {
  --black-white: #000;
  --white-black: #fff;
  --back-image: url("/images/7.jpg");
  --back-gradiente: linear-gradient( to right, rgba(13.73%, 18.04%, 14.9%, 1) 150px, rgba(21.96%, 23.53%, 22.35%, 0.84) 100%);
  --btn-submit: #213c97;
  --text-link: royalblue;
  --clic: rgba(255, 255, 0, 0);
  --clic-sec: rgba(255, 255, 0, 0);
  --error: #f00;
  --s-bar-input-text: rgba(255, 255, 255, 0.863);
}

.high-contrast {
  --black-white: #fff;
  --white-black: #000;
  --back-image: #000;
  --back-gradiente: #000;
  --btn-submit: #000;
  --text-link: #ff0;
  --clic: #ff0;
  --clic-sec: rgb(179, 179, 0);
  --error: #f00;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}


/* text align right */

.txt-lt {
  text-align: left;
}


/* text align left */

.txt-center {
  text-align: center;
}


/* text align center */

.float-rt {
  float: right;
}


/* float right */

.float-lt {
  float: left;
}


/* float left */

.clear {
  clear: both;
}


/* clear float */

.pos-relative {
  position: relative;
}


/* Position Relative */

.pos-absolute {
  position: absolute;
}


/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}


/* vertical align top */

.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}


/* Add 5px bottom padding and a underline */

nav.vertical ul li {
  display: block;
}


/* vertical menu */

nav.horizontal ul li {
  display: inline-block;
}


/* horizontal menu */

img {
  max-width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  background-color: black;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  height: auto;
}

.title {
  align-items: flex-start;
  align-content: flex-start;
  margin: 0em 2em 0em 2em;
  padding: 3em 3em 3em 3em;
}

.title h2 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}

.title h3 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: bold;
}

.content-wrapper {
  background-image: var(--back-image);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin: 3em 0em 3em 0em;
}

.content {
  background-image: var(--back-gradiente);
  padding: 30px 60px 30px 60px;
  flex-direction: row;
  border-radius: 30px 30px 30px 30px;
}

.search {
  text-align: center;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 1em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search span {
  font-size: smaller;
  font-weight: 400;
  color: #fff;
}

.search span a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.search span a:hover {
  color: var(--text-link);
  text-decoration: underline;
}

.s-bar {
  width: 80%;
  background: var(--white-black);
  border-radius: 50px;
  border: #fff 2px solid;
}

.s-bar span {
  font-size: small;
  color: white;
}

.s-bar input[type="text"] {
  font-size: 1em;
  font-weight: 600;
  color: var(--black-white);
  padding: 1.5em 1em 1.3em 1.5em;
  width: 74%;
  border-radius: 50px 0 0 50px;
  background: var(--s-bar-input-text);
  border: none;
  outline: none;
  float: left;
}

.s-bar input[type="submit"] {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0.5em;
  width: 22%;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  margin: 0px 0px 0px -40px;
  background: var(--btn-submit);
  cursor: pointer;
  border: none;
  outline: none;
  border: 4px solid var(--clic);
  float: right;
}

.s-bar input[type="submit"]:hover {
  background: black;
  border: 4px solid var(--clic-sec);
  transition: all 0.3s ease;
}