html,
body {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
}

header {
  height: 60px;
  background-color: blue;
}

main {
  width: 100%;
  height: auto;
}

footer {
  height: 100px;
  background-color: blue;
}

.content-wrapper {
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg");
}

.content {
  background-image: linear-gradient(
    to right,
    rgba(13.73%, 18.04%, 14.9%, 1) 150px,
    rgba(21.96%, 23.53%, 22.35%, 0.84) 100%
  );
  margin: 15px 0px 15px 0px;
  padding: 30px 60px 30px 60px;
  display: flex;
  flex-direction: row;
  align-items: "center";
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.details {
  margin: 0px 30px 0px 30px;
}

.details-title {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px;
}

.details-title span {
  color: #c2c2c2;
  font-weight: 400;
}

.details-subtitle {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.details-subtitle-age {
  border: 1px solid #ffffff;
}

.details-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.details-actions-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-actions-rating-text {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 6px;
  line-height: 20px;
}

.details-actions-button {
  margin-left: 20px;
  background-color: #032541;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details-actions-button-tooltip-gallery::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0425rem 0.0425rem rgba(0, 0, 0, 0.1));
}

.details-actions-button-tooltip-gallery {
  visibility: hidden;
  position: absolute;
  margin-top: 110px;
  z-index: 1;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.details-actions-button:hover .details-actions-button-tooltip-gallery {
  visibility: visible;
}

.details-actions-button-tooltip-favorites::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #032541;
  filter: drop-shadow(0 -0.0425rem 0.0425rem rgba(0, 0, 0, 0.1));
}

.details-actions-button-tooltip-favorites {
  visibility: hidden;
  position: absolute;
  margin-top: 140px;
  z-index: 1;
  background-color: #032541;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px 15px 10px;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 27px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-actions-button:hover .details-actions-button-tooltip-favorites {
  visibility: visible;
}

.details-actions-button i {
  color: #ffffff;
  font-size: 20px;
}

.details-actions-trailer {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
}

.details-actions-trailer:hover {
  color: #c2c2c2;
  cursor: pointer;
}

.details-actions-trailer i {
  margin-right: 9px;
}

.progress-ring {
  stroke-dasharray: 201.06 201.06;
  stroke-dashoffset: 36.19;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.details-phrase {
  color: #c2c2c2;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 15px 0px 10px 0px;
}

.details-sinopsis {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-sinopsis-title {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin: 0px;
}

.details-sinopsis-text {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  margin: 4px 0px 4px 0px;
  flex-wrap: wrap;
}

.details-cast {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 120px;
}

.details-cast-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.details-cast-item {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.details-cast-item-name {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.details-cast-item-jobs {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
