
* { 
  margin: 0em; 
  padding: 0em; 
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

header {
  background-color: #032541;
  height: 64px;
  height: 4rem;  
}

footer {
  background-color: #032541;
  height: 120px;
  height: 7.5rem;
  margin-top: 20px;
  margin-top: 1.25rem;
}

fieldset {
  border: none;
  margin: 20px 0 20px 0;
  margin: 1.25rem 0 1.25rem 0;
}

form label {
  color: #fff;
}

aside {
  margin-right: 30px;
  margin-right: 1.875rem;
  margin-top: 80px;
  margin-top: 5rem;
  border: 1px solid #c2c2c2;
  border: 0.0625rem solid #c2c2c2;
  border-radius: 10px;
  border-radius: 0.625rem;
  margin-bottom: auto;
  width: 250px;
  width: 15.625rem;
}

select {
  background-color: rgb(0, 0, 0);
}

textarea {
    font-family: "Source Sans Pro", sans-serif;
    resize: none;
}

.field-container input[type="text"], 
.field-container input[type="password"], 
.field-container input[type="email"],
.field-container input[type="radio"],
.field-container input[type="time"],
.field-container input[type="date"],
select,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  padding: 8px;
  padding: 0.5rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
  border-radius: 4px;
  border-radius: 0.25rem;
  border-width: 2px;
  border-width: 0.1250rem;
  border-style: solid;
  border-color: rgb(240, 196, 0);
  background-color: rgb(0, 0, 0);
}

.information-header {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  border-radius: 0.625rem 0.625rem 0 0;
  padding: 5px;
  padding: 0.3125rem;
}

.information-container {
  color: #fff;
  padding: 20px 15px 20px 15px;
  padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
}

.information {
  border-top: 1px solid #c2c2c266;
  border-top: 0.0625rem solid #c2c2c266;
  padding: 8px 0 16px 0;
  padding: 0.5rem 0 1rem 0;
  margin-top: 8px;
  margin-top: 0.5rem;
}

.information p + p {
  margin-top: 20px;
  margin-top: 1.25rem;
}
.content {
  display: flex;
  flex-direction: row;
  padding: 10px 40px 10px 40px;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
}

.content-form {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.field-container input[type="text"], 
.field-container input[type="password"], 
.field-container input[type="email"],
textarea {
  width: 100%;
}

.genre-content-type, .running-time-premiere-date {
  display: flex;
  flex-direction: row;
}

.field-container input:hover, select:hover {
  border-color: rgb(226, 211, 2);
}

.field-genre + .field-content-type, .field-running-time + .field-premiere-date {
  margin-left: 30px;
  margin-left: 1.875rem;
}

input[type="radio"], input[type="radio"] + label{
  color: rgb(240, 196, 0);
  margin-right: 10px;
  margin-right: 0.625rem;
  font-size: 18px;
  font-size: 1.125rem;
}

.radio-container{
  margin-top: 18px;
  margin-top: 1rem;
}

.field-container + .field-container, .title-container, .title-container h1 + p{
  color: #fff;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.title-container {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

form p {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

input[type="submit"] {
  font-weight: 700;
  padding-left: 10px;
  padding-left: 1rem;
  padding-right: 10px;
  padding-right: 1rem;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-radius: 6px;
  border-radius: .375rem;
  color: #fff;
  border-color: rgb(240, 196, 0);  
  background-color: rgb(0, 0, 0);
}

.btn-submit {
  color: #fff;
  border-color: rgb(240, 196, 0);  
  background-color: rgb(0, 0, 0);
}

.btn-submit:hover {
  color: #fff;
  border-color: rgb(226, 211, 2);  
  background-color: rgb(0, 0, 0);
}
