<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/details.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />

<%- contentFor('navbar') %>

<%- contentFor('main') %>
<div class="content-wrapper">
  <div class="content">
    <div class="poster">
      <img
        alt="Capa Coringa 2019"
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xLxgVxFWvb9hhUyCDDXxRPPnFck.jpg"
      />
    </div>
    <div class="details">
      <h1 class="details-title">Coringa <span>(2019)</span></h1>
      <span class="details-subtitle">
        <span class="details-subtitle-age">&nbsp;16&nbsp;</span>&nbsp;
        03/10/2019 (BR) &nbsp; &bull; &nbsp; Crime, Thriller, Drama &nbsp;
        &bull; &nbsp; 2h2m
      </span>
      <div class="details-actions">
        <div class="details-actions-rating">
          <svg width="84" height="84">
            <circle fill="#081C22" r="40" cx="42" cy="42" />
            <circle
              class="ring"
              stroke="#1C4027"
              stroke-width="4"
              fill="transparent"
              r="32"
              cx="42"
              cy="42"
            />
            <circle
              class="progress-ring"
              stroke="#21D07A"
              stroke-width="4"
              fill="transparent"
              r="32"
              cx="42"
              cy="42"
            />
            <text
              x="38"
              y="49"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="2px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="24px"
            >
              82
            </text>
            <text
              x="56"
              y="40"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="1px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="10px"
            >
              %
            </text>
          </svg>
          <div class="details-actions-rating-text">
            Avaliação<br />
            dos<br />
            usuários
          </div>
        </div>
        <div class="details-actions-button">
          <i class="fas fa-list"></i>
          <div class="details-actions-button-tooltip-gallery">
            Adicionar à galeria
          </div>
        </div>
        <div class="details-actions-button">
          <i class="fas fa-star"></i>
          <div class="details-actions-button-tooltip-favorites">
            <span>70%</span>
            <svg width="180" height="10">
              <line
                x1="0"
                y1="5"
                x2="180"
                y2="5"
                stroke-width="6"
                stroke="#a2a2a2"
              />
              <line
                id="fav"
                x1="0"
                y1="5"
                x2="126"
                y2="5"
                stroke-width="6"
                stroke="#ffffff"
              />
            </svg>
          </div>
        </div>
        <div class="details-actions-trailer">
          <i class="fas fa-play"></i>Reproduzir trailer
        </div>
      </div>
      <p class="details-phrase">
        Coloque um sorriso nessa cara.
      </p>
      <div class="details-sinopsis">
        <h2 class="details-sinopsis-title">Sinopse</h2>
        <p class="details-sinopsis-text">
          Arthur Fleck trabalha como palhaço para uma agência de talentos
          e, toda semana, precisa comparecer a uma agente social, devido
          aos seus conhecidos problemas mentais. Após ser demitido, Fleck
          reage mal à gozação de três homens em pleno metrô e os mata. Os
          assassinatos iniciam um movimento popular contra a elite de
          Gotham City, da qual Thomas Wayne é seu maior representante.
        </p>
      </div>
      <div class="details-cast">
        <div class="details-cast-row">
          <div class="details-cast-item">
            <div class="details-cast-item-name">
              Todd Phillips
            </div>
            <div class="details-cast-item-jobs">
              Director, Writer
            </div>
          </div>
          <div class="details-cast-item">
            <div class="details-cast-item-name">
              Jerry Robbinson
            </div>
            <div class="details-cast-item-jobs">
              Characters
            </div>
          </div>
          <div class="details-cast-item">
            <div class="details-cast-item-name">
              Bob Kane
            </div>
            <div class="details-cast-item-jobs">
              Characters
            </div>
          </div>
        </div>
        <div class="details-cast-row">
          <div class="details-cast-item">
            <div class="details-cast-item-name">
              Bill Finger
            </div>
            <div class="details-cast-item-jobs">
              Characters
            </div>
          </div>
          <div class="details-cast-item">
            <div class="details-cast-item-name">
              Scott Silver
            </div>
            <div class="details-cast-item-jobs">
              Writer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comments">
  <h2>Comentários</h2>
  <div class="new-comment-container">
    <form id="new-comment-form" name="new-comment-form">
      <label for="new-comment">Faça uma comentário!</label>
      <textarea
        id="new-comment"
        name="new-comment"
        placeholder="O que achou desse filme?"
      ></textarea>
    </form>
    <button type="submit" form="new-comment-form" value="Submit">
      Enviar
    </button>
  </div>
  <div class="comment-container">
    <div class="comment-photo">
      <img
        alt="Foto Wesley Oliveira da Silva"
        src="https://cdn-ofuxico.akamaized.net/img/upload/noticias/2018/12/07/wesley_safadao_spotify_reproducao_instagram_336768_36.jpg"
      />
    </div>
    <div class="comment-content">
      <h3>Wesley Oliveira da Silva</h3>
      <span>13 de Dezembro de 2019</span>
      <p>
        Um filme impactante. Ao mesmo nível de Clube de Luta! No qual a
        classe não tão afortunada se revolta com contra a classe
        opressora. Interessante notar a luta de classe. O filme poderia
        influenciar um pequena revolta contudo se tornou mero
        entretenimento porém fugindo ao padrão MCM.
      </p>
      <i class="fas fa-trash"></i>
    </div>
  </div>
  <div class="comment-container">
    <div class="comment-photo">
      <img
        alt="Foto Fernanda Adrielli"
        src="https://i1.sndcdn.com/artworks-000590905082-hn81t5-t500x500.jpg"
      />
    </div>
    <div class="comment-content">
      <h3>Fernanda Adrielli</h3>
      <span>11 de Novembro de 2019</span>
      <p>
        Sempre foi assim nas histórias do homem-morcego e aqui as coisas
        não são diferentes. Retratada no início dos anos 80, a cidade está
        imersa em pobreza e desigualdade, acentuada por uma enorme crise
        de desemprego. Abandonada pelo governo, nem mesmo o lixo é
        recolhido nas ruas, levando Gotham a uma infestação de ratos. Como
        se não bastasse, as diferenças sociais se condensam em uma enorme
        onda de tensão, colocando os ricos contra as classes mais
        empobrecidas num clima de desesperança e desespero.
      </p>
    </div>
  </div>
</div>