<%# Barra de Navegação %>
<div class="logo">
  <span class="logo-middle">M</span>3D
</div>
<nav>
  <ul>
    <li>
      <a class="menu" href="#">Filmes</a>
    </li>
    <li>
      <a class="menu" href="#">Séries</a>
    </li>
    <li>
      <a class="menu" href="#">Animes</a>
    </li>
  </ul>
  </ul>
</nav>
<div class="search-wrapper">
  <input class="header-input" type="text" name="search" placeholder="Buscar...">
</div>
<div class="accessibility-wrapper">
  <a class="contrast" href="#">
    <img class="icon" alt="alto contraste" src="/images/contrast.svg" />
  </a>
  <a class="font-size-increase" href="#">
    <img class="icon" alt="aumentar fonte" src="/images/font-size-increase.svg" />
  </a>
  <a class="font-size-decrease" href="#">
    <img class="icon" alt="diminuir fonte" src="/images/font-size-decrease.svg" />
  </a>
</div>
<div class="dropdown">
  <a href="#" class="dropbtn">
    <svg width="28" height="30" class="position-user-img">
      <circle fill="#706bbd" r="14" cx="14" cy="16"/>
        <text
          x="14"
          y="22"
          text-anchor="middle"
          stroke="#ffffff"
          stroke-width="0.5px"
          fill="#ffffff"
          font-family="Source Sans Pro, sans-serif"
          font-size="18px"
        >
        D
        </text>
    </svg>
  </a>
  <div class="dropdown-content">
    <a href="#">Editar Perfil</a>
    <a href="#">Minha Galeria</a>
    <a href="#">Sugerir Conteúdo</a>
    <a href="#">Sair</a>
  </div>
</div>

