<%# Barra de Navegação %>
<div class="logo">
  <a href="/home">
    <svg width="73px" height="30px" viewBox="0 0 73 30">
      <path class="logo-m3" d="M 20.941406 28.863281 L 20.941406 11.382812 L 14.496094 28.804688 L 12.230469 28.804688 L 5.769531 11.378906 L 5.769531 28.804688 L 2.742188 28.804688 L 2.742188 1.652344 L 5.40625 1.652344 L 13.359375 23.160156 L 21.3125 1.652344 L 23.964844 1.652344 L 23.964844 28.871094 Z M 20.941406 28.863281 "/>
      <path class="logo-m3" d="M 41.964844 10.863281 L 42.671875 10.859375 L 45.40625 12.273438 L 46.910156 13.882812 L 48.179688 17.902344 L 48.179688 20.679688 L 46.910156 24.714844 L 44.203125 27.527344 L 40.351562 28.871094 L 36.601562 28.871094 L 32.75 27.527344 L 31.210938 25.953125 L 29.515625 22.359375 L 32.078125 20.875 L 33.621094 24.097656 L 34.339844 24.878906 L 37.015625 25.792969 L 39.878906 25.792969 L 42.632812 24.851562 L 44.339844 23.0625 L 45.265625 20.175781 L 45.265625 18.351562 L 44.34375 15.511719 L 43.644531 14.789062 L 41.960938 13.917969 L 36.089844 13.917969 L 42.683594 4.734375 L 32.324219 4.734375 L 32.324219 1.65625 L 48.574219 1.65625 Z M 41.964844 10.863281 "/>
      <path class="logo-d" d="M 60.523438 1.726562 C 59.742188 1.597656 58.96875 1.730469 58.203125 1.730469 L 54.242188 1.730469 L 54.242188 28.859375 L 58.203125 28.761719 C 64.550781 28.773438 70.34375 24.378906 71.636719 17.675781 C 73.074219 10.210938 68.019531 2.984375 60.523438 1.726562 Z M 57.773438 7.148438 C 58.273438 5.609375 59.933594 4.765625 61.472656 5.269531 C 63.015625 5.769531 63.863281 7.421875 63.363281 8.964844 C 62.867188 10.507812 61.21875 11.359375 59.675781 10.863281 C 58.121094 10.367188 57.265625 8.699219 57.773438 7.148438 Z M 57.191406 14.648438 C 57.394531 14.042969 58.039062 13.714844 58.640625 13.90625 C 59.246094 14.101562 59.59375 14.785156 59.394531 15.382812 C 59.191406 15.980469 58.53125 16.3125 57.933594 16.121094 C 57.316406 15.917969 56.984375 15.265625 57.191406 14.648438 Z M 63.328125 22.574219 C 62.828125 24.125 61.15625 24.96875 59.601562 24.453125 C 58.066406 23.945312 57.222656 22.273438 57.730469 20.742188 C 58.234375 19.210938 59.90625 18.367188 61.441406 18.871094 C 62.976562 19.371094 63.824219 21.039062 63.328125 22.574219 Z M 68.285156 15.800781 C 67.785156 17.328125 66.109375 18.179688 64.574219 17.6875 C 63.046875 17.195312 62.175781 15.464844 62.6875 13.945312 C 63.203125 12.421875 64.882812 11.582031 66.410156 12.085938 C 67.9375 12.589844 68.785156 14.269531 68.285156 15.800781 Z M 68.285156 15.800781 "/>
    </svg>
  </a>
</div>
<nav>
  <ul>
    <li>
      <a class="menu" href="/title/gallery?type=filme">Filmes</a>
    </li>
    <li>
      <a class="menu" href="/title/gallery?type=serie">Séries</a>
    </li>
    <li>
      <a class="menu" href="/title/gallery?type=animacao">Animações</a>
    </li>
  </ul>
  </ul>
</nav>
<div class="search-wrapper">
  <input id="header-searchbar" class="header-input" type="text" name="search" placeholder="Buscar...">
</div>
<div class="accessibility-wrapper">
  <a class="contrast" href="#">
    <img class="icon" alt="alto contraste" src="/images/contrast.svg" />
  </a>
  <a class="font-size-increase" href="#">
    <img class="icon" alt="aumentar fonte" src="/images/font-size-increase.svg" />
  </a>
  <a class="font-size-decrease" href="#">
    <img class="icon" alt="diminuir fonte" src="/images/font-size-decrease.svg" />
  </a>
</div>

<button class="open-button"> 
  <img class="icon2" alt="entrar" src="/images/account.svg" />
  <label>Entrar</label>
</button>

<div class="form-popup" id="loginForm-wrapper">
  <form action="/action_page.php" class="form-container">
    <h1 class="form-title">Entrar</h1>

    <label class="form-label" for="email"><b>Nome de Usuário</b></label>
    <input type="text" placeholder="Digite o Nome" name="email" required>

    <label class="form-label" for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Digite a Senha" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <p>
      <a href="/user/registration">Ainda não tem conta? Cadastre-se aqui</a>
    </p>
  </form>
</div>

</div>

<script>
  // Abre menu de login
  document.querySelector('button.open-button').addEventListener('click', () => {
    document.querySelector('div#loginForm-wrapper').style.display = 'block';
  });

  // Fecha menu de login
  document.addEventListener('click', (e) => {
    const loginWrapper = document.querySelector('div#loginForm-wrapper');
    if (!loginWrapper.contains(e.target) && !document.querySelector('button.open-button').contains(e.target)){
      loginWrapper.style.display = 'none';
    }
  });
</script>