<%# Barra de Navegação %>
<div class="logo">
  <span class="logo-middle">M</span>3D
</div>
<nav>
  <ul>
    <li>
      <a class="menu" href="#">Filmes</a>
    </li>
    <li>
      <a class="menu" href="#">Séries</a>
    </li>
    <li>
      <a class="menu" href="#">Animes</a>
    </li>
  </ul>
  </ul>
</nav>
<div class="search-wrapper">
  <input class="header-input" type="text" name="search" placeholder="Buscar...">
</div>
<div class="accessibility-wrapper">
  <a class="contrast" href="#">
    <img class="icon" alt="alto contraste" src="/images/contrast.svg" />
  </a>
  <a class="font-size-increase" href="#">
    <img class="icon" alt="aumentar fonte" src="/images/font-size-increase.svg" />
  </a>
  <a class="font-size-decrease" href="#">
    <img class="icon" alt="diminuir fonte" src="/images/font-size-decrease.svg" />
  </a>
</div>

<button class="open-button"> 
  <img class="icon2" alt="entrar" src="/images/account.svg" />
  <label>Entrar</label>
</button>

<div class="form-popup" id="loginForm-wrapper">
  <form action="/action_page.php" class="form-container">
    <h1 class="form-title">Entrar</h1>

    <label class="form-label" for="email"><b>Nome de Usuário</b></label>
    <input type="text" placeholder="Digite o Nome" name="email" required>

    <label class="form-label" for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Digite a Senha" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <p>
      <a href="registration">Ainda não tem conta? Cadastre-se aqui</a>
    </p>
  </form>
</div>

</div>

<script>
  // Abre menu de login
  document.querySelector('button.open-button').addEventListener('click', () => {
    document.querySelector('div#loginForm-wrapper').style.display = 'block';
  });

  // Fecha menu de login
  document.addEventListener('click', (e) => {
    const loginWrapper = document.querySelector('div#loginForm-wrapper');
    if (!loginWrapper.contains(e.target) && !document.querySelector('button.open-button').contains(e.target)){
      loginWrapper.style.display = 'none';
    }
  });
</script>