<!DOCTYPE html>
<html lang="pt-BR" class="common">
  <head>
    <meta charset="utf-8">
    <title>M3D | <%= title %> </title>
    <%- defineContent('style') %>    
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="imagem/png" href="/images/ic.png">
  </head>
  <body>
    <header>
      <%- defineContent('navbar') %>    
    </header>
    <main>
        <%- defineContent('main') %>
  	</main>
    <footer>
      <label id="footer">© Copyright 2020 M3D</label>
    </footer>
    <!-- parte de troca do tema -->
    <button id="switch" onclick="toggleTheme()"> Toggle Theme </button>
    <script type="text/javascript" src="/javascripts/toggle-theme.js"></script>
  </body>
</html>