<%# CSS da Página %>
<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/userProfileEdit.css" />

<%# Corpo da Página %>
<%- contentFor('main') %>
<div class="info-bg">
  <div class="info">
    <svg width="104" height="104" style="padding: 20px 10px">
      <circle fill="#02b4df" r="50" cx="52" cy="52" />
      <text
        x="54"
        y="68"
        text-anchor="middle"
        stroke="#ffffff"
        stroke-width="1.5px"
        fill="#ffffff"
        font-family="Source Sans Pro, sans-serif"
        font-size="48px" 
        >
        D
      </text>
    </svg>
    <div class="info-block">
      <h1 class="font-user-name">dw2020<span class="font-user-date">Membro desde agosto de 2020</span></h1>
      <div class="avaliation">
        <div class="container-avaliation">
          <svg width="48" height="48">
            <circle fill="#081C22" r="24" cx="24" cy="24" />
            <circle stroke="#1C4027" stroke-width="4" fill="transparent" r="22" cx="24" cy="24"/>
            <circle
              class="progress-ring"
              stroke="#21D07A"
              stroke-width="2"
              fill="transparent"
              r="22"
              cx="24"
              cy="24"
              />
            <text
              x="21"
              y="27"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="1px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="16px"
              >
              100
            </text>
            <text
              x="37"
              y="25"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="0.5px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="8px"
              >
              %
            </text>
          </svg>
          <h1 class="font-user-avaliation">
            Avaliação Média de Filmes
          </h1>
        </div>
        <div class="container-avaliation">
          <svg width="48" height="48">
            <circle fill="#081C22" r="24" cx="24" cy="24" />
            <circle stroke="#1C4027" stroke-width="4" fill="transparent" r="22" cx="24" cy="24"/>
            <circle
              class="progress-ring"
              stroke="#21D07A"
              stroke-width="2"
              fill="transparent"
              r="22"
              cx="24"
              cy="24"
              />
            <text
              x="21"
              y="27"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="1px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="16px"
              >
              100
            </text>
            <text
              x="37"
              y="25"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="0.5px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="8px"
              >
              %
            </text>
          </svg>
          <h1 class="font-user-avaliation">Avaliação Média de Séries</h1>
        </div>
        <div class="container-avaliation" style="border: none">
          <svg width="48" height="48">
            <circle fill="#081C22" r="24" cx="24" cy="24" />
            <circle stroke="#1C4027" stroke-width="4" fill="transparent" r="22" cx="24" cy="24"/>
            <circle
              class="progress-ring"
              stroke="#21D07A"
              stroke-width="2"
              fill="transparent"
              r="22"
              cx="24"
              cy="24"
              />
            <text
              x="21"
              y="27"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="1px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="16px"
              >
              100
            </text>
            <text
              x="37"
              y="25"
              text-anchor="middle"
              stroke="#ffffff"
              stroke-width="0.5px"
              fill="#ffffff"
              font-family="Source Sans Pro, sans-serif"
              font-size="8px"
              >
              %
            </text>
          </svg>
          <h1 class="font-user-avaliation">Avaliação Média de Animes</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-container">
  <h1 class="form-head">Alterar Informações</h1>
  <h1 class="form-preface">Nome de usuário</h1>
  <input class="form-box" type="text" name="uname" /> 
  <h1 class="form-preface">Nova senha (9 caractéres no mínimo)</h1>
  <input class="form-box" type="text" name="nsenha" /> 
  <h1 class="form-preface">Confirmar senha</h1>
  <input class="form-box" type="text" name="csenha" /> 
  <h1 class="form-preface">E-mail</h1>
  <input class="form-box" type="text" name="email" />
  <br><br>
  <button type="button" class="button">Atualizar</button>
</div>