
.common {
  --back: #fff;
  --kcab: #000;
  --back-btn: #032541;
  --border: #032541;
  --bolinha: #c2c2c2;
  --text-gray: #4c4d4d;
  --hover-blue: #028cb3; 
  --clic: rgba(255, 255, 0, 0);
  --clic-sec: rgba(255, 255, 0, 0);
  --error: #f00;
}
.high-contrast {
  --back: #000;
  --kcab: #fff;
  --back-btn: #000;
  --border: white;
  --bolinha: #ff0;
  --text-gray: #fff;
  --hover-blue: rgb(179, 179, 0);
  --clic: #ff0;
  --clic-sec: rgb(179, 179, 0);
  --error: #f00;
}

* { 
  margin: 0em; 
  padding: 0em; 
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  background-color: #ffffff;
  margin: 0;
}
header {
  background-color: #032541;
  height: 64px;
  height: 4rem;  
}
body {
  background-color: var(--back);
}

footer {
  background-color: #032541;
  height: 120px;
  height: 7.5rem;
}

fieldset {
  border: none;
}
form label {
  color: var(--text-gray);
}
p {
  color: var(--kcab);
}

.content {
  display: flex;
  flex-direction: row;
}
.slider {
    display: block;
    width: 400rem;
    width: 25rem;
    height: 562px;
    height: 35.125rem;
    margin: auto;
    position: relative;
}
.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  background-color: var(--bolinha);
  bottom: 10px;
  bottom: 0.625rem;
  cursor: pointer;
  display: block;
  height: 10px;
  height: 0.625rem;
  position: absolute;
  width: 10px;
  width: 0.625rem;
  z-index: 10;
  border-radius: 10px;
  border-radius: 0.625rem;
}

.slider li:nth-child(1) label {
  left: 165px;
  left: 10.3125rem;
}

.slider li:nth-child(2) label {
  left: 195px;
  left: 12.1875rem;
}

.slider li:nth-child(3) label {
  left: 225px;
  left: 14.0625rem;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.slider li input:checked ~ label {
  background-color: #fff;
}

.content-form {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.field-container input {
  width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
  color: var(--text-gray);
  padding: 8px;
  padding: 0.5rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
  border-radius: 4px;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--bolinha);
  background-color: var(--back);
}

.field-container input:hover {
  border-color: #028cb3;  
}

form .field-container, .title-container, .title-container h1 + p{
  margin-top: 10px;
  margin-top: 0.625rem;
}

.title-container {
  color: var(--kcab);
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

form p {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

input[type="submit"], button {
  font-weight: 700;
  padding-left: 10px;
  padding-left: 1rem;
  padding-right: 10px;
  padding-right: 1rem;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-radius: 6px;
  border-radius: .375rem;
}
.btn-submit {
  color: #fff;
  background-color: var(--back-btn);
  border: 1px solid var(--clic);
}

.btn-submit:hover {
  color: #fff;
  border-color: var(--hover-blue);
}

.btn-submit:focus {
  color: #fff;
  border-color: #031f38;  
  background-color: #031f38;  
}
