html,
body {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
}

header {
  height: 40px;
}

main {
  width: 100%;
  height: auto;
}

footer {
  height: 100px;
  background-color: blue;
}

.content-wrapper {
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg");
}

.content {
  background-image: linear-gradient(
    to right,
    rgba(13.73%, 18.04%, 14.9%, 1) 150px,
    rgba(21.96%, 23.53%, 22.35%, 0.84) 100%
  );
  margin: 15px 0px 15px 0px;
  padding: 30px 60px 30px 60px;
  display: flex;
  flex-direction: row;
  align-items: "center";
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.details {
  margin: 0px 30px 0px 30px;
}

.details-title {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px;
}

.details-title span {
  color: #c2c2c2;
  font-weight: 400;
}

.details-subtitle {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.details-subtitle-age {
  border: 1px solid #ffffff;
}

.details-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.details-actions-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-actions-rating-text {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 6px;
  line-height: 20px;
}

.details-actions-button {
  margin-left: 20px;
  background-color: #032541;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details-actions-button-tooltip-gallery::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0425rem 0.0425rem rgba(0, 0, 0, 0.1));
}

.details-actions-button-tooltip-gallery {
  visibility: hidden;
  position: absolute;
  margin-top: 110px;
  z-index: 1;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.details-actions-button:hover .details-actions-button-tooltip-gallery {
  visibility: visible;
}

.details-actions-button-tooltip-favorites::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #032541;
  filter: drop-shadow(0 -0.0425rem 0.0425rem rgba(0, 0, 0, 0.1));
}

.details-actions-button-tooltip-favorites {
  visibility: hidden;
  position: absolute;
  margin-top: 140px;
  z-index: 1;
  background-color: #032541;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px 15px 10px;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 27px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-actions-button:hover .details-actions-button-tooltip-favorites {
  visibility: visible;
}

.details-actions-button i {
  color: #ffffff;
  font-size: 20px;
}

.details-actions-trailer {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
}

.details-actions-trailer:hover {
  color: #c2c2c2;
  cursor: pointer;
}

.details-actions-trailer i {
  margin-right: 9px;
}

.progress-ring {
  stroke-dasharray: 201.06 201.06;
  stroke-dashoffset: 36.19;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.details-phrase {
  color: #c2c2c2;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 15px 0px 10px 0px;
}

.details-sinopsis {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-sinopsis-title {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin: 0px;
}

.details-sinopsis-text {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  margin: 4px 0px 4px 0px;
  flex-wrap: wrap;
}

.details-cast {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 120px;
}

.details-cast-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.details-cast-item {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.details-cast-item-name {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.details-cast-item-jobs {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
}


/* Inicio do meu código*/
.info {
    background: url("https://www.themoviedb.org/assets/2/v4/account_pipes/light_blue-a230b623827400e967c6eb7241d88086f2eb9264c0789d0dab15ae6f1df1421a.svg") no-repeat, 
    linear-gradient(
    to right,
    rgba(8, 51, 71, 1) 150px,
    rgba(6, 49, 68, 0.84) 100%
    );
    background-size: 1600px 250px;
	background-position: top;
    margin: 0px 0px 0px 0px;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: row;
    align-items: "center";
}
.user-name{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  margin-left: 20px;
  margin-top: -10px;
}
.user-date{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin-left: 15px;
}
.user-avaliation1{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin: 40px -20px -20px -50px;
}
.user-avaliation2{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin: 52px -20px -20px -63px;
}
.user-avaliation3{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin: 40px -20px -20px 70px;
}
.avaliation-percentage1{
	margin: 5px 0px -100px -310px;
    padding: 30px 60px 30px 60px;
}
.avaliation-percentage2{
	margin: 5px 0px -100px 0px;
    padding: 30px 60px 30px 60px;
}
.avaliation-percentage3{
	margin: 5px 0px -100px 0px;
    padding: 30px 60px 30px 60px;
}
.form-head{
  color: #3f4040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-left: 80px;
  margin-top: 10px;
}
.form-preface{
  color: #3f4040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 10px;
}
.form-box {
  width: 500px;
  padding: 5px 12px;
  margin: 1px 1px 1px 80px;
  box-sizing: border-box;
  border: 1px solid #01b4e4;
  border-radius: 4px;
}
.button {
  background-color: #01b4e4;
  border-radius: 12px;
  color: #ffffff;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px 1px 80px;
  cursor: pointer;
  border: 2px solid #01b4e4;
}
.button:hover {
	background-color: #ffffff;
	color: #01b4e4;
	border: 2px solid #01b4e4;
}

/*barra de menu e barra inferior*/
.footer-bg {
    background-color: rgb(3, 37, 65);
    height: 100px;
    margin: 0px 0px 0px 0px;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: "center";
}
.footer-text{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  align-self: center;
  margin-left: 550px;
}
.header-bg {
    background-color: rgb(3, 37, 65);
    height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: "center";
}
.logo{
  color: #2cafc3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin-left: 10px;
  margin-top: -24px;
}
.logo-middle{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin-left: 44px;
  margin-top: -24px;
}
.menu{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-left: 44px;
  margin-top: -10px;
}
.header-input {
  width: 200px;
  height: 22px;
  box-sizing: border-box;
  border: 1px solid #01b4e4;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url('icon.png');
  background-size: 35px 35px;
  background-position: 0px -5px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: -10px 0px -100px 400px;
}
.header-img {
  width: 30px;
  height: 30px;
  margin: -15px 0px 0px 20px;
}
.header-img2 {
  width:20px;
  height: 20px;
  margin: -10px 0px 0px 10px;
}
.header-user{
  background-color: #706bbb;
  width: 150px;
  height: 40px;
  margin-left: 30px;
  margin-top: -20px;
}


/*second test drop menu*/
nav {
	margin-left: 37px;
	margin-top: -30px;
	background-color: #706bbb;
	height:50px;
	width: 140px;
	align-items:center;
	justify-content:center;
}

nav ul {
	padding: 0;
	margin:0;
	list-style: none;
	position: absolute;
	}
	
nav ul li {
	display:inline-block;
	background-color: #706bbb;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	line-height: 60px;
	text-decoration:none;
	text-align: center;
	height:50px;
	width: 140px;
}

nav a:hover { 
	background-color: #ffffff; 
	width: 140px;
	color: #706bbb;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: relative; 
/* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }