:root {
  --n-clic: white;
  --clic: rgb(240, 196, 0);
  --clic-seg:rgb(226, 211, 2);
  --back: black;
  --atention: rgb(221, 11, 11);
}

html,
body {
  background-color: var(--back);
  margin: 0;
  height: 100%;
}

header {
  height: 40px;
}

main {
  width: 100%;
  height: auto;
}

footer {
  height: 100px;
  background-color: blue;
}

/* Inicio do meu c�digo*/
.info {
    background-color: var(--back);
    background-size: 1600px 250px;
    margin: 0px 0px 0px 0px;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: row;
    align-items: "center";
    border-bottom: 2px solid var(--n-clic);
}
.user-name{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-left: 20px;
  margin-top: -10px;
}
.user-date{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin-left: 15px;
}
.user-avaliation1{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin: 40px -20px -20px -50px;
}
.user-avaliation2{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin: 52px -20px -20px -63px;
}
.user-avaliation3{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin: 40px -20px -20px 70px;
}
.avaliation-percentage1{
	margin: 5px 0px -100px -310px;
    padding: 30px 60px 30px 60px;
}
.avaliation-percentage2{
	margin: 5px 0px -100px 0px;
    padding: 30px 60px 30px 60px;
}
.avaliation-percentage3{
	margin: 5px 0px -100px 0px;
    padding: 30px 60px 30px 60px;
}
.form-head{
  color: var(--n-clic);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-left: 80px;
  margin-top: 10px;
}
.form-preface{
  color: var(--n-clic);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 10px;
}
input[type=text] {
  background-color: var(--back);
  color: var(--n-clic);
  width: 500px;
  padding: 5px 12px;
  margin: 1px 1px 1px 80px;
  box-sizing: border-box;
  border: 1px solid var(--clic);
  border-radius: 4px;
}
.button {
  background-color: var(--back);
  border-radius: 12px;
  color: #ffffff;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px 1px 80px;
  cursor: pointer;
  border: 2px solid var(--clic);
}
.button:hover {
	background-color: var(--back);
	color: var(--n-clic);
	border: 2px solid var(--clic-seg);
} 


/*barra de menu e barra inferior*/
.footer-bg {
    background-color: rgb(3, 37, 65);
    height: 100px;
    margin: 0px 0px 0px 0px;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: "center";
}
.footer-text{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  align-self: center;
  margin-left: 550px;
}
.header-bg {
    background-color: rgb(3, 37, 65);
    height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: "center";
}
.logo{
  color: #2cafc3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin-left: 10px;
  margin-top: -24px;
}
.logo-middle{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin-left: 44px;
  margin-top: -24px;
}
.menu{
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-left: 44px;
  margin-top: -10px;
}
.header-input {
  width: 200px;
  height: 22px;
  box-sizing: border-box;
  border: 1px solid #01b4e4;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url('icon.png');
  background-size: 35px 35px;
  background-position: 0px -5px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: -10px 0px -100px 400px;
}
.header-img {
  width: 30px;
  height: 30px;
  margin: -15px 0px 0px 20px;
}
.header-img2 {
  width:20px;
  height: 20px;
  margin: -10px 0px 0px 10px;
}
.header-user{
  background-color: #706bbb;
  width: 150px;
  height: 40px;
  margin-left: 30px;
  margin-top: -20px;
}


/*second test drop menu*/
nav {
	margin-left: 37px;
	margin-top: -30px;
	background-color: transparent;
	height:50px;
	width: 138px;
	align-items:center;
	justify-content:center;
	
}            


nav ul {
	padding: 0;
	margin:0;
	list-style: none;
	position: absolute;
	}
	
nav ul li {
	display:inline-block;
	background-color: #FFF;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#3f4040;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	line-height: 60px;
	text-decoration:none;
	text-align: center;
	height:50px;
	width: 138px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid rgb(8, 51, 71);
	border-bottom: none;
	border-top: none;
}
nav ul li:hover:last-of-type{
	border-bottom: 1px solid rgb(8, 51, 71);
	border-radius: 0px;
}

nav a:hover { 
	background-color: #01b4e4; 
	width: 138px;
	color: #FFF;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: relative; 
/* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

.position-user-img{
	margin-left: -20px;
	margin-top: 14px;
}
	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }